<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dbpath" value="C:\Users\mikolajewskj\source\repos\CodeReviews.Console.CodingTracker\codingTracker.jakubmikolajewski\CodingTrackerLibrary\bin\Debug\net8.0\CodingTrackerDatabase.sqlite"></add>
	</appSettings>
	<connectionStrings>
		<add name="Database" connectionString="Data Source=CodingTrackerDatabase.sqlite;Version=3;New=False"/>
	</connectionStrings>
</configuration>